.title {
  background-color: gray;
  color: aqua;
  font-size: 24pt;
  font-weight: bold;
  padding: 20px;
}

.innerColor {
  color: orange;
}

/* global css로 등록된다 */
:global .globalColor {
  color: lightgreen;
}
